@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));



@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.bg-secondary-100 {
  background-color: rgba(206, 206, 206, 0.068);
}
.text-secondary {
  color: rgb(var(--heroui-light));
}
/* .group-data-\[filled\=true\]\:-translate-y-\[calc\(100\%_\+_var\(--heroui-font-size-small\)\/2_\+_20px\)\]:is(:where(.group)[data-filled="true"] *) {
    --tw-translate-y: calc(calc(100% + var(--heroui-font-size-small) / 2 + 20px) * -1);
}
.group-data-\[has-helper\=true\]\:-translate-y-\[calc\(100\%_\+_var\(--heroui-font-size-small\)\/2_\+_30px\)\]:is(:where(.group)[data-has-helper="true"] *) {
    --tw-translate-y: calc(calc(100% + var(--heroui-font-size-small) / 2 + 30px) * -1);} */

body {
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}

@keyframes touchedFieldsBlinkSimple {
  0% { border-color: transparent; }
  25% { border-color: rgb(var(--heroui-default)); color: rgb(var(--heroui-default));}
  50% { border-color: rgb(var(--heroui-primary-foreground)); color: rgb(var(--heroui-primary-foreground));}
  75% { border-color: rgb(var(--heroui-primary-foreground)); color: rgb(var(--heroui-primary-foreground));}
  100% { border-color: rgb(var(--heroui-default));}
}

.touched-fields-animate-simple {
  border: 1px solid transparent;
  animation: touchedFieldsBlinkSimple 0.3s ease-in-out;
}
